/*
 * Empty Stylesheet file.
 */

.Background{
    -fx-background-color: lightblue;
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-alignment:CENTER;
}
.Subject{
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
}
.Button{
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-padding: 8;
    -fx-pref-width: 250;
}